---
import Featured from '../components/Featured.astro'
import Contact from '../components/Contact.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import Portfolio from '../components/Portfolio.astro'

const title = 'Allef Vinicius | Fotógrafo retratista'
---

<Layout {title}>
  <Header />

  <div id="main">
    <Featured />
    <Portfolio />
    <Contact />
  </div>
</Layout>
