---
import Featured from '../components/Featured.astro'
import GetInTouch from '../components/GetInTouch.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import RecentWork from '../components/RecentWork.astro'

const title = 'Allef Vinicius | Fotógrafo retratista'
---

<Layout {title}>
  <Header />

  <div id="main">
    <Featured />
    <RecentWork />
    <GetInTouch />
  </div>
</Layout>
