---
import content from '../../content.json'
---

<!-- Three -->
<section id="three">
  <h2>{content.contact.title}</h2>
  <p>
    {content.contact.description}
  </p>
  <div class="row">
    <div class="col-12">
      <form method="post" action="#">
        <div class="row gtr-uniform gtr-50">
          <div class="col-6 col-12-xsmall">
            <input type="text" name="name" id="name" placeholder="Nome" />
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="email" name="email" id="email" placeholder="E-mail" />
          </div>
          <div class="col-12">
            <textarea
              name="message"
              id="message"
              placeholder="Mensagem"
              rows="4"></textarea>
          </div>
        </div>
      </form>
      <ul class="actions">
        <li><input class="button truncate" type="submit" value="Enviar" /></li>
      </ul>
    </div>
  </div>
</section>
