---
import content from '../../content.json'
---

<!-- One -->
<section id="one">
  <header class="major">
    <h2>
      {content.about_me.title}
    </h2>
  </header>
  <p class="mb-8">
    {content.about_me.description}
  </p>
  <ul class="actions">
    {
      content.about_me.menu.map((item) => (
        <li>
          <a href={item.url} class="button">
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</section>
