---
import content from '../../content.json'
---

<!-- One -->
<section id="one">
  <header class="major">
    <h2>
      {content.about_me.title}
    </h2>
  </header>
  <div class="flex flex-col gap-4 mb-8">
    {
      content.about_me.description.map((paragraph) => (
        <p class="mb-0">{paragraph}</p>
      ))
    }
  </div>
  <ul class="actions flex flex-wrap">
    {
      content.about_me.menu.map((item) => (
        <li>
          <a href={item.url} class="button truncate">
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</section>
