<!-- Two -->
<section id="two">
  <h2>Trabalhos recentes</h2>
  <div class="row">
    <article class="col-6 col-12-xsmall work-item">
      <a href="https://picsum.photos/600/350" class="image fit thumb"
        ><img src="https://picsum.photos/300/175" alt="" /></a
      >
      <h3>Magna sed consequat tempus</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="https://picsum.photos/600/350" class="image fit thumb"
        ><img src="https://picsum.photos/300/175" alt="" /></a
      >
      <h3>Ultricies lacinia interdum</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="https://picsum.photos/600/350" class="image fit thumb"
        ><img src="https://picsum.photos/300/175" alt="" /></a
      >
      <h3>Tortor metus commodo</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="https://picsum.photos/600/350" class="image fit thumb"
        ><img src="https://picsum.photos/300/175" alt="" /></a
      >
      <h3>Quam neque phasellus</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="https://picsum.photos/600/350" class="image fit thumb"
        ><img src="https://picsum.photos/300/175" alt="" /></a
      >
      <h3>Nunc enim commodo aliquet</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="https://picsum.photos/600/350" class="image fit thumb"
        ><img src="https://picsum.photos/300/175" alt="" /></a
      >
      <h3>Risus ornare lacinia</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
  </div>
  <ul class="actions">
    <li><a href="#" class="button">Full Portfolio</a></li>
  </ul>
</section>
